
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

/*Estilos generales*/ 

.logo {
  max-width: 100px;
  height: auto;
  display: flex;
  align-items: center;
}

body, html{
margin: 0;
padding: 0;
height: 100%;
}

h1{
  text-align: center;
  display: flex
}

.gridContainer {
  display: grid;
  grid-template-areas:
      "header header"
      "navIzq navDer"
      "img img"      
      "parrafo parrafo"
      "footer footer";
  grid-template-columns:auto;
  grid-template-rows: 100px 100px auto 1fr 100px;
  flex-direction: column;
  justify-items: center;
  text-align:center;
}

/*Estilos de la cabecera*/ 

header{
  grid-area: header;
  display: flex;
  text-align: center;
}

.color-bg{
  background-color:lavender;
}

div.navIzq {
  grid-area: navIzq;
}

.navIzq ul,
.navDer ul {
  display: flex;
  justify-content: space-around;
}

li {
  padding: 10px;
  list-style-type: none;
}

div.navDer {
  grid-area: navDer;
}

section.parrafo {
text-align: center;
margin-top: 10px;
}

.contenedor {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor img {
 grid-area: img;
 max-width: 100%;
 max-height: 100%;
}

.main video{
  width: 100%;
  height:100%;
}

footer h4{
  grid-area: footer;
  display: flex;
  justify-content: space-around;
  padding-top: 30px
  background-color #f8f8f8;
  text-align:center;
}

/* mq de tablet */

@media screen and (min-width:600px) {
  .grid {
    flex-direction: column;
    align-items: center;
  }
  .parrafo {
    display: flex;
  }

  footer{
    position:bottom;
    bottom: auto;
    width:auto;
  }
}

/* mq desktop */

@media screen and (min-width:1024px) {
}

header {
  text-align: center;
}

li {
  position: relative;
  top: 20px;

}

